anyio==4.14.1
build==1.5.0
certifi==2026.6.17
cffi==2.0.0
chardet==7.4.3
clr_loader==0.3.1
colored==2.3.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
nocasedict==2.2.0
packaging==26.2
pkg_about==2.4.3
pwsh==0.7.0
py-utlx==2.4.0
pycparser==3.0
pyproject_hooks==1.2.0
python-telegram-bot==22.8
pythonnet==3.1.0
tqdm==4.68.3
typing_extensions==4.16.0
zope.interface==8.5
zope.proxy==7.2
